---
interface Props {
    title: string;
    body: string;
    cards: { image: string; title: string; href: string }[];
}

const { title, body, cards } = Astro.props;

import CardProduct from "./Card-product.astro";
---

<div class="contenedor">
    <h2 class="text-4xl text-justify font-bold text-gray-800 mb-4 ml-24">
        {title}
    </h2>
    <p
        class="text-justify text-base text-gray-600 leading-relaxed ml-24 mr-24 lg:mr-36 md:break-words"
    >
        {body}
    </p>

    <div class="contenedor-cards pt-12 pl-24 pr-24 pb-24">
        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4"
        >
            {
                cards.map((card) => (
                    <CardProduct
                        image={card.image}
                        title={card.title}
                        href={card.href}
                    />
                ))
            }
        </div>
    </div>
</div>
