---
const cardData = [
    {
        title: "780e",
        imgSrc: "/assets/bachas/780e.png",
        imgHover: "/assets/bachas/780e-p.png",
        description: "73x46x17",
        subDescription: "ACERO AISI 304 18/08",
    },
    {
        title: "ART. 801E AMICA",
        imgSrc: "/assets/bachas/801e.png",
        imgHover: "/assets/bachas/801e-p.png",
        description: "54x36x18",
        subDescription: "ACERO AISI 304 18/08",
    },

    {
        title: "ART. 410E",
        imgSrc: "/assets/bachas/410e.png",
        imgHover: "/assets/bachas/410e-p.png",
        description: "67,5x40,5x20",
        subDescription: "ACERO AISI 304 18/08",
    },
    {
        title: "303",
        imgSrc: "/assets/bachas/303.png",
        imgHover: "/assets/bachas/303-p.png",
        description: "52x32x18",
        subDescription: "ACERO AISI 304 18/08",
    },

    {
        title: "304",
        imgSrc: "/assets/bachas/304.png",
        imgHover: "/assets/bachas/304-p.png",
        description: "57x37x18",
        subDescription: "ACERO AISI 304 18/08",
    },
    {
        title: "305",
        imgSrc: "/assets/bachas/305.png",
        imgHover: "/assets/bachas/305-p.png",
        description: "64x37x18",
        subDescription: "ACERO AISI 304 18/08",
    },
];
---

<h2 class="text-center text-5xl tracking-tight pt-12" id="titlePiletas">
    Nuestras piletas más vendidas
</h2>
<span class="block text-center text-sm italic text-gray-600 mt-2">
    Venta únicamente con mesada adquirida en nuestro establecimiento
</span>
<span class="block text-center text-sm italic text-gray-600 mt-2 pb-4">
    Trabajamos toda la línea de piletas marca 'Mi Pileta'
</span>
<div class="contenedor mx-auto w-full md:w-2/4 lg:w-full pl-4 pr-4 pb-36">
    <div
        class="grid gap-5 lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 justify-center"
    >
        {
            cardData.map((card) => (
                <div
                    class="card flex flex-col items-center"
                    data-img-src={card.imgSrc}
                    data-img-hover={card.imgHover}
                >
                    <img
                        class="h-auto max-w-full rounded-lg card-image"
                        src={card.imgSrc}
                        alt={card.title}
                    />
                    <h3 class="text-center text-lg font-semibold">
                        {card.title}
                    </h3>
                    <p class="text-center text-sm">{card.description}</p>
                    <p class="text-center text-xs">{card.subDescription}</p>
                </div>
            ))
        }
    </div>
</div>
<div class="flex justify-center">
    <a href="https://mipileta.com.ar/catalogo/" target="_blank"
        ><button
            class="font-medium h-auto w-auto p-3 border rounded bg-yellow-400 hover:bg-yellow-500 mb-4 text-center justify-center"
            >Ver todo el catálogo</button
        ></a
    >
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll(".card");
        cards.forEach((card) => {
            const cardImage = card.querySelector(
                ".card-image",
            ) as HTMLImageElement;
            const imgSrc = card.getAttribute("data-img-src");
            const imgHover = card.getAttribute("data-img-hover");
            card.addEventListener("mouseover", () => {
                cardImage.src = imgHover!;
                card.classList.add("hovered");
            });

            card.addEventListener("mouseout", () => {
                cardImage.src = imgSrc!;
                card.classList.remove("hovered");
            });
        });
    });
</script>
<style>
    #titlePiletas {
        font-family: "San Francisco Display Semibold";
    }

    .card {
        text-align: center;
        transition:
            transform 0.3s ease-in-out,
            width 0.3s ease-in-out,
            height 0.3s ease-in-out;
        overflow: hidden;
    }

    .card.hovered {
        transform: scale(1.1);
    }

    .card:hover .card-image {
        transform: scale(1.1);
    }

    .card-image {
        transition: transform 0.5s ease-in-out;
    }
</style>
