---
const cardData = [
    {
        title: "Granitos",
        imgSrc: "/assets/granito.jpg",
        description:
            "Sumérgete en el mundo del granito, donde la belleza natural se combina con la durabilidad excepcional para crear espacios que inspiran. Ya sea nacional o importado, cada pieza de granito narra una historia singular, enriquecida por siglos de formación geológica y meticuloso trabajo artesanal.",
        link: "/granitos",
    },
    {
        title: "Mármoles",
        imgSrc: "/assets/marmol.jpg",
        description:
            "Sumérgete en un mundo de lujo y sofisticación con nuestro mármol de primera calidad, una verdadera obra maestra de la naturaleza. Desde los tonos suaves y sutiles hasta los patrones audaces y dramáticos, nuestro mármol ofrece una gama infinita de posibilidades para elevar cualquier espacio.",
        link: "/granitos",
    },
    {
        title: "Silestone",
        imgSrc: "/assets/silestone-eternal-marquina.jpg",
        description:
            "Silestone es la superficie mineral híbrida baja en sílice, fabricada con minerales premium y materiales reciclados. Su revolucionaria tecnología Hybriq+® reduce eficazmente el contenido de sílice cristalina, dando como resultado una superficie mineral innovadora, sostenible y de alto rendimiento.",
        link: "/granitos",
    },
    {
        title: "Purastone",
        imgSrc: "/assets/Purastone-Blanco-Paloma.jpg",
        description:
            "Purastone® es una superficie de cuarzo premium con características únicas: alta resistencia a rayas y manchas, fácil de limpiar y de instalar. Es de alta durabilidad, apta para mesadas de cocina y baño y para aplicaciones de uso comercial (barras, mostradores, etc).",
        link: "/granitos",
    },
];
---

<section class="w-full bg-slate-50">
    <h2 class="text-center text-4xl tracking-tight pt-12" id="titleProductos">
        Nuestros Productos
    </h2>

    <div class="contenedorCards flex flex-wrap justify-center mt-6 gap-4">
        {
            cardData.map((card, index) => (
                <div class="card max-w-sm w-full md:w-1/2 lg:w-1/4 p-4 transform transition duration-500">
                    <div class="content rounded-lg overflow-hidden shadow-lg">
                        <div class="group">
                            <a href={card.link}>
                                <img
                                    class="w-full h-48 object-cover rounded"
                                    src={card.imgSrc}
                                    alt={card.title}
                                />
                                <div class="px-6 py-4 bg-gray-100 bg-opacity-50">
                                    <div class="font-semibold text-xl mb-2">
                                        {card.title}
                                    </div>

                                    <p class="text-gray-700 text-base description opacity-25 max-h-0 overflow-hidden transition-all duration-[8000ms] group-hover:opacity-100 group-hover:max-h-full">
                                        {card.description}
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</section>

<style>
    #titleProductos {
        font-family: "San Francisco Display Semibold";
    }

    .description {
        transition: opacity 0.3s ease;
    }

    .card:hover .description {
        opacity: 1;
    }
</style>
