---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Footer from "../../components/Footer.astro";

export function getStaticPaths() {
    return [
        { params: { material: "Et Marquina" } },
        { params: { material: "Arcilla Red" } },
        { params: { material: "Blanco Norte" } },
        { params: { material: "Blanco Stellar" } },
        { params: { material: "Blanco Zeus" } },
        { params: { material: "Bohemian Flame" } },
        { params: { material: "Brass Relish" } },
        { params: { material: "Calablue" } },
        { params: { material: "Calacatta Gold" } },
        { params: { material: "Charcoal" } },
        { params: { material: "Concrete Pulse" } },
        { params: { material: "Et Noir" } },
        { params: { material: "Ethereal Dusk" } },
        { params: { material: "Ether Glow" } },
        { params: { material: "Gris Expo" } },
        { params: { material: "Gris Marengo" } },
        { params: { material: "Lime Delight" } },
        { params: { material: "Miami Vena" } },
        { params: { material: "Miami White" } },
        { params: { material: "Negro Stellar" } },
        { params: { material: "Negro Tebas" } },
        { params: { material: "Niebla" } },
        { params: { material: "Noka" } },
        { params: { material: "Parisien Bleu" } },
        { params: { material: "Pearl Jasmine" } },
        { params: { material: "Posidonia Green" } },
        { params: { material: "Romantic Ash" } },
        { params: { material: "Rougui" } },
        { params: { material: "Victorian Silver" } },
    ];
}

const materials = {
    "Et Marquina": {
        slider1: "/assets/silestone/espacios/marquina-m1.jpg",
        slider2: "/assets/silestone/espacios/marquina-m2.jpg",
        slider3: "/assets/silestone/espacios/marquina-m3.jpg",
        description: "Descripción de Et Marquina",
    },
    "Arcilla Red": {
        image: "/path/to/image.jpg",
        description: "Descripción de Arcilla Red",
    },
};

const { material } = Astro.params;

const materialData = materials[material];
---

<Layout title={material} description={materialData.description}>
    <main>
        <Navbar />
        <main class="flex flex-wrap justify-between">
            <section class="w-full md:w-1/2 pl-36 pr-36">
                <div class="carousel">
                    <div
                        id="default-carousel"
                        class="relative w-full"
                        data-carousel="slide"
                    >
                        <div
                            class="relative h-56 overflow-hidden rounded-lg md:h-96"
                        >
                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider1}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>

                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider2}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>
                            <!-- Item 3 -->
                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider3}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>
                        </div>

                        <div
                            class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
                        >
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="true"
                                aria-label="Slide 1"
                                data-carousel-slide-to="0"></button>
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 2"
                                data-carousel-slide-to="1"></button>
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 3"
                                data-carousel-slide-to="2"></button>
                        </div>

                        <button
                            type="button"
                            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-prev
                        >
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                            >
                                <svg
                                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M5 1 1 5l4 4"></path>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button
                            type="button"
                            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-next
                        >
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                            >
                                <svg
                                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 9 4-4-4-4"></path>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <section class="w-full md:w-1/2">
                <div>
                    <h1 class="text-2xl font-bold mb-4">{material}</h1>
                    <p>{materialData.description}</p>
                </div>
            </section>
            <Footer />
        </main>
    </main>
</Layout>
