---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar-relatives.astro";
import Footer from "../../components/Footer.astro";
import Rayadura from "../../../public/assets/rasga.png";
import Calor from "../../../public/assets/calor.png";
import Golpe from "../../../public/assets/pegar.png";
import Mancha from "../../../public/assets/mancha.png";
import uv from "../../../public/assets/ultravioleta.png";

export function getStaticPaths() {
    return [
        { params: { material: "Et Marquina" } },
        { params: { material: "Arcilla Red" } },
        { params: { material: "Blanco Norte" } },
        { params: { material: "Blanco Stellar" } },
        { params: { material: "Blanco Zeus" } },
        { params: { material: "Bohemian Flame" } },
        { params: { material: "Brass Relish" } },
        { params: { material: "Cala Blue" } },
        { params: { material: "Calacatta Gold" } },
        { params: { material: "Charcoal" } },
        { params: { material: "Concrete Pulse" } },
        { params: { material: "Et Noir" } },
        { params: { material: "Ethereal Dusk" } },
        { params: { material: "Ether Glow" } },
        { params: { material: "Gris Expo" } },
        { params: { material: "Gris Marengo" } },
        { params: { material: "Lime Delight" } },
        { params: { material: "Miami Vena" } },
        { params: { material: "Miami White" } },
        { params: { material: "Negro Stellar" } },
        { params: { material: "Negro Tebas" } },
        { params: { material: "Niebla" } },
        { params: { material: "Noka" } },
        { params: { material: "Parisien Bleu" } },
        { params: { material: "Pearl Jasmine" } },
        { params: { material: "Posidonia Green" } },
        { params: { material: "Romantic Ash" } },
        { params: { material: "Rougui" } },
        { params: { material: "Victorian Silver" } },
        { params: { material: "Amarello" } },
        { params: { material: "Azul Labrador" } },
        { params: { material: "Blanco Brasil" } },
        { params: { material: "Blanco Siena" } },
        { params: { material: "Delicatus" } },
        { params: { material: "Gris Mara" } },
        { params: { material: "Gris Perla Salmón" } },
        { params: { material: "Gris Perla" } },
        { params: { material: "Marrón Absoluto" } },
        { params: { material: "Marrón Café" } },
        { params: { material: "Marrón Coco" } },
        { params: { material: "Negro Boreal Dorado" } },
        { params: { material: "Negro Boreal" } },
        { params: { material: "Negro Brasil" } },
        { params: { material: "Negro Zulú" } },
        { params: { material: "Rojo Dragón" } },
        { params: { material: "Rojo Multicolor" } },
    ];
}

const materials = {
    "Et Marquina": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/marquina-m1.jpg",
        slider2: "/assets/silestone/espacios/marquina-m2.jpg",
        slider3: "/assets/silestone/espacios/marquina-m3.jpg",
        description:
            "Evocando al bello mármol español Negro Marquina, esta opción regala una vehemente base de color negro donde surgen contundentes e intensos detalles y veteados blancos.",
        chapa: "/assets/silestone/chapas-completas/silestone-marquina-completo.avif",
        puntajeRayadura: 3,
        puntajeManchas: 4,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    "Arcilla Red": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/arcilla-red-m1.jpg",
        slider2: "/assets/silestone/espacios/arcilla-red-m2.jpg",
        slider3: "/assets/silestone/espacios/arcilla-red-m1.jpg",
        description:
            "Un rojo profundo y terroso que genera espacios acogedores y cálidos.",
        chapa: "/assets/silestone/chapas-completas/arcilla-red-chapa.avif",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    "Blanco Norte": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/blanco-norte-m2.png",
        slider2: "/assets/silestone/Silestone-Blanco-norte.jpg",
        slider3: "/assets/silestone/espacios/blanco-norte-m3.png",
        description:
            "Como ventisca de aire polar, inspirado en el más blanco invierno del Norte, un blanco que recuerda la belleza y el poder de la naturaleza.",
        chapa: "/assets/silestone/chapas-completas/blanco-norte-completa.avif",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 4,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Blanco Stellar": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/blanco-stellar-m1.jpg",
        slider2: "/assets/silestone/espacios/blanco-stellar-m2.jpg",
        slider3: "/assets/silestone/Silestone-blanco-stellar.jpg",
        description:
            "Un tono frío y limpio con acabado en alto brillo. Este color da a las habitaciones una sensación de luminosidad y espacio",
        chapa: "/assets/silestone/chapas-completas/blanco-stellar-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Blanco Zeus": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/blanco-zeus-m1.jpg",
        slider2: "/assets/silestone/espacios/blanco-zeus-m2.jpg",
        slider3: "/assets/silestone/espacios/blanco-zeus-m3.jpg",
        description:
            "Un blanco casi impoluto, energético y atemporal. Una apuesta segura para acertar con la decoración de cualquier espacio.",
        chapa: "/assets/silestone/chapas-completas/blanco-zeus-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 4,
        puntajeCalor: 4,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Bohemian Flame": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/bohemian-flame-m1.jpg",
        slider2: "/assets/silestone/espacios/bohemian-flare-m2.jpg",
        slider3: "/assets/silestone/espacios/bohemian-flame-m3.jpg",
        description:
            "Es un gris oscuro en acabado mate cuya textura recuerda a una mezcla entre cemento y caliza. Tiene vetas sinuosas finas, con incrustaciones metálicas en tonos cobrizos. Inspirada en el movimiento de las coladas de lava más fluidas que generan cicatrices sobre el suelo volcánico.",
        chapa: "/assets/silestone/chapas-completas/bohemian-flame-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Brass Relish": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/brass-relish-m1.jpg",
        slider2: "/assets/silestone/espacios/brass-relish-m2.jpg",
        slider3: "/assets/silestone/espacios/brass-relish-m3.jpg",
        description:
            "Un marrón cobrizo de grano único, encarna la arenisca de grano fino. Combina a la perfección con los colores y elementos de diseño del estilo vintage moderno.",
        chapa: "/assets/silestone/chapas-completas/brass-relish-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    "Cala Blue": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/cala-blue-m1.jpg",
        slider2: "/assets/silestone/espacios/cala-blue-m2.jpg",
        slider3: "/assets/silestone/Silestone-calablue.jpg",
        description:
            "Es un azul profundo, moderno y estimulante que en su interacción con la luz se balancea entre la profundidad y la superficie del mar.",
        chapa: "/assets/silestone/chapas-completas/cala-blue-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 4,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Calacatta Gold": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/calacatta-gold-m1.jpg",
        slider2: "/assets/silestone/espacios/calacatta-gold-m2.jpg",
        slider3: "/assets/silestone/Silestone-Calacatta-gold.jpg",
        description:
            "Color compuesto por un fondo blanco donde elegantes y gruesos veteados grises son interrumpidos por imprevistos detalles dorados. Calacatta Gold rememora a uno de los mármoles más apreciados desde la antigüedad por su apariencia eterna y distinguida.",
        chapa: "/assets/silestone/chapas-completas/calacatta-gold-completa.avif",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    Charcoal: {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/charcoal-m1.jpg",
        slider2: "/assets/silestone/espacios/charcoal-m2.jpeg",
        slider3: "/assets/silestone/Silestone-Charcoal.jpg",
        description:
            "Inspirado en la popular “piedra jabón” o soapstone, este color presenta un acabado gris azulado con enérgicas vetas grises. Espectacular opción caracterizada por su rotundidad, profundidad y movimiento.",
        chapa: "/assets/silestone/chapas-completas/charcoal-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 4,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Concrete Pulse": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/concrete-pulse-m1.jpg",
        slider2: "/assets/silestone/espacios/concrete-pulse-m3.jpg",
        slider3: "/assets/silestone/Silestone-concrete-pulse.jpg",
        description:
            "Inspirado en la popular “piedra jabón” o soapstone, este color presenta un acabado gris azulado con enérgicas vetas grises. Espectacular opción caracterizada por su rotundidad, profundidad y movimiento.",
        chapa: "/assets/silestone/chapas-completas/concrete-pulse-completa.avif",
        puntajeRayadura: 4,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Et Noir": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/et-noir-m1.jpg",
        slider2: "/assets/silestone/espacios/et-noir-m3.jpg",
        slider3: "/assets/silestone/Silestone-et.noir.jpg",
        description:
            "Eternal Noir es el resultado de un delicado y cuidado diseño, inspirado en la estética simétrica y la elegancia de la piedra natural. Sus líneas rectas y diseño sobrio inspira espacios oscuros pero acogedores, elegantes y con luz propia.",
        chapa: "/assets/silestone/chapas-completas/et-noir-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    "Ethereal Dusk": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/ethereal-dusk-m2.jpg",
        slider2: "/assets/silestone/espacios/ethereal-dusk-m3.jpg",
        slider3: "/assets/silestone/Silestone-ethereal-dusk.jpg",
        description:
            "El tono azulado en el interior de cada una de sus vetas le aporta un toque moderno que, sumado a su vanguardista direccionalidad geométrica, hace de Ethereal Dusk uno de los diseños más urbanos y actuales de la colección.",
        chapa: "/assets/silestone/chapas-completas/",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Ether Glow": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/ethereal-glow-m1.jpg",
        slider2: "/assets/silestone/espacios/ethereal-glow-m2.jpg",
        slider3: "/assets/silestone/espacios/ethereal-glow-m3.jpg",
        description:
            "Las vetas, en elegantes tonalidades doradas y grises, se funden en un fondo blanco matizado, atravesando la tabla y distribuyendo el color en cada rincón, aportando valor al diseño.",
        chapa: "/assets/silestone/chapas-completas/ethereal-glow-completa.avif",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Gris Expo": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/gris-expo-m1.jpg",
        slider2: "/assets/silestone/espacios/gris-expo-m2.jpeg",
        slider3: "/assets/silestone/Silestone-Gris-Expo.png",
        description:
            "Las vetas, en elegantes tonalidades doradas y grises, se funden en un fondo blanco matizado, atravesando la tabla y distribuyendo el color en cada rincón, aportando valor al diseño.",
        chapa: "/assets/silestone/chapas-completas/gris-expo-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 4,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Gris Marengo": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/marengo-m1.jpg",
        slider2: "/assets/silestone/espacios/gris-marengo-m2.jpg",
        slider3: "/assets/silestone/Silestone-gris-marengo.jpg",
        description:
            "La filosofía menos es más se cumple con Marengo, un tono en la gama de los grises apagados que se aproxima al negro y es escogido por amantes de la sencillez y el buen gusto.",
        chapa: "/assets/silestone/chapas-completas/gris-marengo-completa.avif",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Lime Delight": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/lime-delight-m1.jpg",
        slider2: "/assets/silestone/espacios/lime-delight-m2.jpg",
        slider3: "/assets/silestone/Silestone-Lime-delight.jpg",
        description:
            "Los tonos beige texturizados de Lime Delight son una base versátil para cualquier diseño de interiores, desde espacios tranquilos y puros hasta propuestas más inesperadas. Sus tonos cálidos y luminosos evocan el resplandor de la famosa piedra caliza de Marbella.",
        chapa: "/assets/silestone/chapas-completas/lime-delight-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Miami Vena": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/miami-vena-m1.jpg",
        slider2: "/assets/silestone/espacios/miami-vena-m1.jpg",
        slider3: "/assets/silestone/Silestone-miamiVena.jpg",
        description:
            "Diseño neutro en tonos claros veteados sobre una base totalmente blanca.",
        chapa: "/assets/silestone/chapas-completas/miami-vena-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Miami White": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/miami-white-m1.jpg",
        slider2: "/assets/silestone/espacios/miami-white-m2.jpg",
        slider3: "/assets/silestone/Silestone-miamiwhite.jpg",
        description:
            "Color clásico, ideal para los amantes de los blancos que proporcionan calidez a los ambientes.",
        chapa: "/assets/silestone/chapas-completas/miami-white-completa.avif",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Negro Stellar": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/negro-stellar-m1.jpg",
        slider2: "/assets/silestone/espacios/negro-stellar-m2.jpg",
        slider3: "/assets/silestone/Silestone-negro-stellar.jpg",
        description:
            "Llamativo juego de luces gracias a los cristales encajados sobre fondo negro intenso.",
        chapa: "/assets/silestone/chapas-completas/negro-stellar-completa.avif",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 1,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    "Negro Tebas": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/negro-tebas-m1.jpg",
        slider2: "/assets/silestone/espacios/negro-tebas-m2.jpeg",
        slider3: "/assets/silestone/Silestone-negroTebas.jpg",
        description:
            "Gracias a la tecnología N-Boost este negro luce impoluto y brillante, sin impurezas, ni vetas. Solo el negro más puro y cautivador.",
        chapa: "/assets/silestone/chapas-completas/negro-tebas-completa.avif",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    Niebla: {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/niebla-m1.jpg",
        slider2: "/assets/silestone/espacios/niebla-m2.jpg",
        slider3: "/assets/silestone/espacios/niebla-m3.jpg",
        description:
            "Un gris suave propio de las nubes que surcan las colinas en la mañana de una tarde lluviosa, así es Niebla.",
        chapa: "/assets/silestone/chapas-completas/niebla-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    Noka: {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/noka-m1.jpg",
        slider2: "/assets/silestone/espacios/noka-m2.jpg",
        slider3: "/assets/silestone/Silestone-Noka.jpg",
        description:
            "La elegancia y el buen gusto van de la mano de Noka, un básico que querrá integrar en cualquier parte, interior o exterior.",
        chapa: "/assets/silestone/chapas-completas/noka-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Parisien Bleu": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/parisien-bleu-m1.jpg",
        slider2: "/assets/silestone/espacios/parisien-bleu-m2.jpg",
        slider3: "/assets/silestone/espacios/parisien-bleu-m3.jpg",
        description:
            "Un profundo tono azulado con fuerte personalidad y poderoso carácter. Su majestuoso fondo, inspirado en las tonalidades de las famosas piedras de la Roma Imperial, se salpica con finas vetas e incrustaciones en tonos ocres.",
        chapa: "/assets/silestone/chapas-completas/parisien-bleu-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Pearl Jasmine": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/pearl-jasmine-m1.jpg",
        slider2: "/assets/silestone/espacios/pearl-jasmine-m2.jpg",
        slider3: "/assets/silestone/espacios/pearl-jasmine-m3.jpg",
        description:
            "Con un aspecto de piedra caliza blanca y cubierto con sutiles vetas grises, crea un impresionante efecto de grietas. Este modelo combina perfectamente con una cocina clásica ó rural y aquellas que pretenden recrear un leve sentido de la tradición.",
        chapa: "/assets/silestone/chapas-completas/pearl-jasmine-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Posidonia Green": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/posidonia-green-m1.jpg",
        slider2: "/assets/silestone/espacios/posidonia-green-m2.jpg",
        slider3: "/assets/silestone/espacios/posidonia-green-m3.jpg",
        description:
            "Un verde sereno, lleno de luz que ilumina con elegancia los espacios y ofrece armonía a cualquier estancia.",
        chapa: "/assets/silestone/chapas-completas/posidonia-green-completa.avif",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    "Romantic Ash": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/romantic-ash-m1.jpg",
        slider2: "/assets/silestone/espacios/romantic-ash-m2.jpg",
        slider3: "/assets/silestone/espacios/romantic-ash-m3.jpg",
        description:
            "Grandes vetas e incrustaciones de grano de diversos tamaños recuerdan a la vía láctea en un cielo estrellado. El azul de su fondo refuerza la profundidad de Romantic Ash.",
        chapa: "/assets/silestone/chapas-completas/romantic-ash-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    Rougui: {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/rougui-m1.jpg",
        slider2: "/assets/silestone/espacios/rogui-m2.jpg",
        slider3: "/assets/silestone/Silestone-Rougui.jpg",
        description:
            "Su intensidad y diseño aportarán a cualquier ambiente toda la fuerza y viveza para convertirse en un lugar mágico y acogedor.",
        chapa: "/assets/silestone/chapas-completas/rogui-completa.avif",
        puntajeRayadura: 3,
        puntajeManchas: 3,
        puntajeCalor: 3,
        puntajeImpacto: 4,
        puntajeUv: 3,
    },
    "Victorian Silver": {
        material: "Silestone",
        linkRetorno: "/silestone",
        slider1: "/assets/silestone/espacios/victorian-silver-m1.jpg",
        slider2: "/assets/silestone/espacios/victorian-silver-m2.jpg",
        slider3: "/assets/silestone/espacios/victorian-silver-m3.jpg",
        description:
            "Suave y sutil jaspeado bicolor en el fondo con efectos degradados y gran profundidad. El tono frío del fondo se mezcla con sus vetas plateadas y grises oscuras para crear un color elegante que encaja a la perfección con tonos cálidos y fríos. Victorian Silver encarna el encanto de la historia. Sumérjete en el mundo victoriano de la elegancia y la sofisticación, donde cada momento es un tesoro atemporal.",
        chapa: "/assets/silestone/chapas-completas/victorian-silver-completa.avif",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 2,
        puntajeImpacto: 4,
        puntajeUv: 2,
    },
    Amarello: {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/Amarello.jpg",
        slider2: "/assets/granito/espacios/amarello-m2.jpg",
        slider3: "/assets/granito/espacios/amarello-m1.jpg",
        description:
            "El Amarello brilla con una base de color dorado que irradia luminosidad y sofisticación. Sus vetas y motas en tonos negros, blancos y marrones crean un mosaico natural que añade profundidad y una riqueza visual incomparable, haciendo que cada pieza sea única.",
        chapa: "/assets/granito/espacios/Amarello-entera.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 2,
        puntajeCalor: 5,
        puntajeImpacto: 3,
        puntajeUv: 4,
    },
    "Azul Labrador": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Azul-Labrador.jpg",
        slider2: "/assets/granito/espacios/Azul-Labrador-m2.jpg",
        slider3: "/assets/granito/espacios/Azul-Labrador-m1.jpg",
        description:
            "El Azul Labrador, proviniente de Noruega, destaca por su imponente base de azul oscuro, adornada con destellos plateados y vetas claras que crean un juego visual único y sofisticado. Su textura cristalina y granulada, junto con la opción de un acabado pulido brillante, resalta su belleza natural. Ideal para encimeras, mesadas y revestimientos, este granito combina durabilidad con resistencia a manchas y arañazos, haciendo de cada espacio un reflejo de elegancia y funcionalidad.",
        chapa: "/assets/granito/espacios/Azul-Labrador-Entera.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 3,
        puntajeUv: 4,
    },
    "Blanco Brasil": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Blanco-Brasil-m1.png",
        slider2: "/assets/granito/espacios/Blanco-Brasil-m2.png",
        slider3: "/assets/granito/espacios/Blanco-Brasil-m3.jpg",
        description:
            "El Granito Blanco Brasil, tesoro de las tierras brasileñas, cautiva con su base blanca adornada con cristales definidos y pinceladas de tonos oscuros, incluyendo manchas purpúreas que añaden un toque de misterio y sofisticación. Versátil y elegante, transforma cualquier espacio con su belleza atemporal y encanto sutil pero inolvidable.",
        chapa: "/assets/granito/espacios/Blanco-Brasil-entera.jpg",
        puntajeRayadura: 3,
        puntajeManchas: 2,
        puntajeCalor: 5,
        puntajeImpacto: 3,
        puntajeUv: 4,
    },
    "Blanco Siena": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/Blanco-Siena.jpg",
        slider2: "/assets/granito/espacios/Blanco-Siena-m1.jpg",
        slider3: "/assets/granito/espacios/Blanco-Siena-m2.jpg",
        description:
            "Blanco Siena es una opción popular para encimeras de cocina gracias a su color claro y versatilidad. Con un fondo blanquecino salpicado de pequeñas manchas rosadas o grises, cada losa ofrece un aspecto único. Originario de la región brasileña de Itaúnas, este granito combina fácilmente con muebles blancos y de madera, aportando luminosidad y elegancia a cualquier espacio. Su durabilidad y fácil mantenimiento lo convierten en una elección atemporal para cualquier cocina.",
        chapa: "/assets/granito/espacios/Blanco-Siena-Completa.jpg",
        puntajeRayadura: 3,
        puntajeManchas: 2,
        puntajeCalor: 5,
        puntajeImpacto: 3,
        puntajeUv: 3,
    },
    Delicatus: {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/Delicatus.jpg",
        slider2: "/assets/granito/espacios/Delicatus-m1.jpg",
        slider3: "/assets/granito/espacios/Delicatus-m3.jpg",
        description:
            "El Granito Delicatus, originario de Brasil, se destaca por su base blanca pura adornada con vetas oscuras contrastantes. Este granito es sinónimo de estilo y elegancia, ideal para quienes buscan transformar sus espacios en auténticas obras maestras. Reconocido por su durabilidad y facilidad de mantenimiento, Delicatus es perfecto para encimeras de cocina, pisos, salpicaderos sofisticados y paredes decorativas impactantes. Tanto en hogares como en propiedades comerciales, este granito no solo añade valor estético, sino también funcionalidad y practicidad, convirtiéndose en la elección perfecta para proyectos de diseño de alta gama.",
        chapa: "/assets/granito/espacios/Delicatus-Completa.jpg",
        puntajeRayadura: 3,
        puntajeManchas: 2,
        puntajeCalor: 5,
        puntajeImpacto: 3,
        puntajeUv: 3,
    },
    "Gris Mara": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/Gris-Mara.jpg",
        slider2: "/assets/granito/espacios/Gris-Mara-m1.png",
        slider3: "/assets/granito/espacios/Gris-Mara-m2.png",
        description:
            "Gris Mara, una roca ígnea de tonalidad neutra y sofisticada. Con su mezcla única de finos granos blancos y negros, este material es sinónimo de resistencia y durabilidad. Este granito no solo garantiza funcionalidad, sino que también aporta un toque de distinción y estilo atemporal a cualquier espacio.",
        chapa: "/assets/granito/espacios/Gris-Mara-Completa.jpg",
        puntajeRayadura: 5,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Gris Perla Salmón": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/Gris-Perla-Salmon.jpg",
        slider2: "/assets/granito/espacios/Gris-Perla-m1.jpg",
        slider3: "/assets/granito/Gris-Perla-Salmon.jpg",
        description:
            "Gris Mara, una roca ígnea de tonalidad neutra y sofisticada. Con su mezcla única de finos granos blancos y negros, este material es sinónimo de resistencia y durabilidad. Este granito no solo garantiza funcionalidad, sino que también aporta un toque de distinción y estilo atemporal a cualquier espacio.",
        chapa: "/assets/granito/espacios/Gris-Perla-Salmon-Completa.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Gris Perla": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Gris-Perla-m1.jpg",
        slider2: "/assets/granito/espacios/Gris-Perla-m2.jpg",
        slider3: "/assets/granito/Gris-Perla.jpg",
        description:
            "El gris perla es una tonalidad de gris conocida por su aspecto suave y delicado. Se sitúa en un punto intermedio entre el gris claro y el gris medio, distinguiéndose por un matiz ligeramente cálido. Al igual que las perlas, comparte la misma luminosidad y un brillo sutil.",
        chapa: "/assets/granito/espacios/Gris-Perla-Completa.jpeg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Marrón Absoluto": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Marron-Absoluto-m2.jpg",
        slider2: "/assets/granito/espacios/Marron-Absoluto-m1.jpeg",
        slider3: "/assets/granito/Marron-Absoluto.jpg",
        description:
            "El gris perla es una tonalidad de gris conocida por su aspecto suave y delicado. Se sitúa en un punto intermedio entre el gris claro y el gris medio, distinguiéndose por un matiz ligeramente cálido. Al igual que las perlas, comparte la misma luminosidad y un brillo sutil.",
        chapa: "/assets/granito/espacios/Marron-Absoluto-Completa.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 3,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Marrón Café": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Marron-Cafe-m2.jpg",
        slider2: "/assets/granito/espacios/Marron-Cafe-m1.jpg",
        slider3: "/assets/granito/Marron-Cafe.jpg",
        description:
            "El Granito Marrón Café es una piedra natural que combina la calidez de los tonos marrones con la durabilidad y resistencia del granito.",
        chapa: "/assets/granito/espacios/Marron-Cafe-Completa.jpg",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Marrón Coco": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Marron-Coco-m1.jpg",
        slider2: "/assets/granito/espacios/Marron-Coco-m2.jpeg",
        slider3: "/assets/granito/Marron-Coco.jpg",
        description:
            "El Granito Marrón Café es una piedra natural que combina la calidez de los tonos marrones con la durabilidad y resistencia del granito.",
        chapa: "/assets/granito/espacios/Marron-Coco-Completa.jpg",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Marrón Orcollano": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Marron-Coco-m1.jpg",
        slider2: "/assets/granito/espacios/Marron-Coco-m2.jpeg",
        slider3: "/assets/granito/Marron-Coco.jpg",
        description:
            "El Granito Marrón Café es una piedra natural que combina la calidez de los tonos marrones con la durabilidad y resistencia del granito.",
        chapa: "/assets/granito/espacios/Marron-Coco-Completa.jpg",
        puntajeRayadura: 2,
        puntajeManchas: 3,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Negro Boreal Dorado": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/NBD-m1.png",
        slider2: "/assets/granito/espacios/NBD-m2.png",
        slider3: "/assets/granito/espacios/NBD-m3.png",
        description:
            "Negro Boreal con Dorado, también conocido como Black Cosmic, es un granito exclusivo que combina elegancia y misterio. Su superficie pulida brilla como un espectáculo astral, con detalles dorados y plateados. ",
        chapa: "/assets/granito/espacios/Negro-Boreal-Dorado-Completa.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Negro Boreal": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Negro-Boreal-m1.jpg",
        slider2: "/assets/granito/espacios/Negro-Boreal-m2.jpg",
        slider3: "/assets/granito/Negro-Boreal.jpg",
        description:
            "El Granito Negro Boreal tiene un fondo negro con nubes y detalles blancos, lo que le confiere un aspecto poco común. Es resistente al rayado, duradero y se utiliza ampliamente en mesadas de cocinas, baños, revestimientos y pisos.",
        chapa: "/assets/granito/espacios/Negro-Boreal-Completa.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Negro Brasil": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/Negro-Brasil.jpg",
        slider2: "/assets/granito/espacios/Negro-brasil-m1.jpg",
        slider3: "/assets/granito/espacios/Negro-brasil-m2.jpg",
        description:
            "Descubre el Granito Negro Brasil, una opción de lujo que combina elegancia y funcionalidad. Su fondo negro profundo y su textura distintiva lo convierten en la elección perfecta para quienes aprecian el diseño minimalista.",
        chapa: "/assets/granito/espacios/Negro-Brasil-Completa.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Negro Zulú": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Negro-zulu-m1.jpg",
        slider2: "/assets/granito/espacios/Negro-zulu-m2.jpg",
        slider3: "/assets/granito/espacios/NEGRO-ABSOLUTO-3.png",
        description:
            "El Granito Negro Absoluto es la elección perfecta para quienes buscan la elegancia atemporal y la sofisticación en su máxima expresión. Con su color negro profundo y textura uniformemente densa, este granito importado evoca la serenidad y la majestuosidad de un cielo nocturno sin nubes.",
        chapa: "/assets/granito/espacios/Granito-Negro-Absoluto-Completo.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Rojo Dragón": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/Rojo-Dragon.jpg",
        slider2: "/assets/granito/espacios/Rojo-Dragon-m1.jpg",
        slider3: "/assets/granito/Rojo-Dragon.jpg",
        description:
            "Descubre la belleza y resistencia del Granito Rojo Dragón. Nuestra piedra natural, con su color rojo intenso y pequeñas vetas negras, es perfecta para tus proyectos de diseño de interiores y exteriores.",
        chapa: "/assets/granito/espacios/Rojo-Dragon-Completa.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
    "Rojo Multicolor": {
        material: "Granitos",
        linkRetorno: "/granitos",
        slider1: "/assets/granito/espacios/Rojo-Multicolor-m1.jpg",
        slider2: "/assets/granito/espacios/Rojo-Multicolor-m3.jpg",
        slider3: "/assets/granito/Rojo-Multicolor.jpg",
        description:
            "El granito rojo multicolor, una joya natural extraída de las profundidades de la tierra, combina la pasión del rojo intenso con la elegancia de las vetas negras y marrones. Su superficie pulida brilla como un tesoro, ideal para crear cocinas y baños que despierten admiración. Este granito no solo es resistente, sino también un símbolo de lujo y sofisticación en cualquier espacio.",
        chapa: "/assets/granito/espacios/Rojo-Multicolor-Completa.jpg",
        puntajeRayadura: 4,
        puntajeManchas: 4,
        puntajeCalor: 5,
        puntajeImpacto: 4,
        puntajeUv: 4,
    },
};

const { material } = Astro.params;

const materialData = materials[material];
export const prerender = true;
const puntajeRayadura = materialData.puntajeRayadura;
const puntajeManchas = materialData.puntajeManchas;
const puntajeCalor = materialData.puntajeCalor;
const puntajeImpacto = materialData.puntajeImpacto;
const puntajeUv = materialData.puntajeUv;
---

<Layout title={material} description={materialData.description}>
    <main>
        <Navbar />
        <main class="flex flex-wrap justify-between">
            <section class="w-full md:w-1/2 lg:pl-36 lg:pr-36 mb-16">
                <div class="carousel">
                    <div
                        id="default-carousel"
                        class="relative w-full"
                        data-carousel="slide"
                    >
                        <div
                            class="relative h-56 overflow-hidden rounded-lg md:h-96"
                        >
                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider1}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>

                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider2}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>

                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider3}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>
                        </div>

                        <div
                            class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
                        >
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="true"
                                aria-label="Slide 1"
                                data-carousel-slide-to="0"></button>
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 2"
                                data-carousel-slide-to="1"></button>
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 3"
                                data-carousel-slide-to="2"></button>
                        </div>

                        <button
                            type="button"
                            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-prev
                        >
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                            >
                                <svg
                                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M5 1 1 5l4 4"></path>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button
                            type="button"
                            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-next
                        >
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                            >
                                <svg
                                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 9 4-4-4-4"></path>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <section class="w-full md:w-1/2 p-4">
                <div>
                    <h1 class="text-3xl font-bold mb-4">{material}</h1>
                    <p>{materialData.description}</p>
                    <section class="w-full pt-4">
                        <h2 class="text-xl font-semibold mb-4 text-left">
                            Detalles Adicionales
                        </h2>
                        <div
                            class="contenedor grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 lg:mr-24"
                        >
                            <div class="columna text-center">
                                <img
                                    src={Rayadura.src}
                                    alt="Descripción de la imagen 1"
                                    class="mx-auto mb-2 w-12 h-12 object-cover"
                                />
                                <p>Recistencia a Rayaduras</p>
                                <div class="puntaje">
                                    <div
                                        class={`circulo ${puntajeRayadura >= 1 ? "circulo lleno" : ""}`}
                                    >
                                    </div>

                                    <div
                                        class={`circulo ${puntajeRayadura >= 2 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeRayadura >= 3 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeRayadura >= 4 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeRayadura >= 5 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                </div>
                            </div>

                            <div class="columna text-center">
                                <img
                                    src={Mancha.src}
                                    alt="Descripción de la imagen 2"
                                    class="mx-auto mb-2 w-12 h-12 object-cover"
                                />
                                <p>Resisentencia a Manchas</p>
                                <div class="puntaje">
                                    <div
                                        class={`circulo ${puntajeManchas >= 1 ? "circulo lleno" : ""}`}
                                    >
                                    </div>

                                    <div
                                        class={`circulo ${puntajeManchas >= 2 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeManchas >= 3 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeManchas >= 4 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeManchas >= 5 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                </div>
                            </div>

                            <div class="columna text-center">
                                <img
                                    src={Calor.src}
                                    alt="Descripción de la imagen 3"
                                    class="mx-auto mb-2 w-12 h-12 object-cover"
                                />
                                <p>Resistencia al Calor</p>
                                <div class="puntaje">
                                    <div
                                        class={`circulo ${puntajeCalor >= 1 ? "circulo lleno" : ""}`}
                                    >
                                    </div>

                                    <div
                                        class={`circulo ${puntajeCalor >= 2 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeCalor >= 3 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeCalor >= 4 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeCalor >= 5 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                </div>
                            </div>

                            <div class="columna text-center">
                                <img
                                    src={Golpe.src}
                                    alt="Descripción de la imagen 4"
                                    class="mx-auto mb-2 w-12 h-12 object-cover"
                                />
                                <p>Recistencia al impacto</p>
                                <div class="puntaje">
                                    <div
                                        class={`circulo ${puntajeImpacto >= 1 ? "circulo lleno" : ""}`}
                                    >
                                    </div>

                                    <div
                                        class={`circulo ${puntajeImpacto >= 2 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeImpacto >= 3 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeImpacto >= 4 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeImpacto >= 5 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                </div>
                            </div>

                            <div class="columna text-center">
                                <img
                                    src={uv.src}
                                    alt="Descripción de la imagen 5"
                                    class="mx-auto mb-2 w-12 h-12 object-cover"
                                />
                                <p>Recistencia a Exteriores</p>
                                <div class="puntaje">
                                    <div
                                        class={`circulo ${puntajeUv >= 1 ? "circulo lleno" : ""}`}
                                    >
                                    </div>

                                    <div
                                        class={`circulo ${puntajeUv >= 2 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeUv >= 3 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeUv >= 4 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                    <div
                                        class={`circulo ${puntajeUv >= 5 ? "circulo lleno" : ""}`}
                                    >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <div class="chapaC w-full p-4 mb-8 lg:pl-32 lg:pr-32">
                <h2
                    class="text-2xl text-left pb-2 font-normal"
                    style="font-family:San Francisco Display Ultralight;"
                >
                    Detalles de la tabla completa {material}
                </h2>

                <div id="chapaContainer" class="relative w-full">
                    <img
                        id="chapaCompleta"
                        src={materialData.chapa}
                        class="w-full"
                        alt={material}
                    />
                    <div
                        id="zoomCircle"
                        class="absolute border border-gray-500 rounded-full pointer-events-none"
                    >
                    </div>
                </div>

                <a href={materialData.linkRetorno}>
                    <p
                        class="text-center text-xl hover:underline pt-8 hover:text-yellow-500"
                    >
                        <i class="fa-solid fa-reply"></i> Volver al catalogo de {
                            materialData.material
                        }
                    </p>
                </a>
            </div>
            <Footer />
        </main>
    </main>

    <script>
        document
            .getElementById("chapaCompleta")
            .addEventListener("mousemove", function (e) {
                var img = e.target as HTMLImageElement;
                var zoomCircle = document.getElementById("zoomCircle");
                var rect = img.getBoundingClientRect();
                var x = e.clientX - rect.left;
                var y = e.clientY - rect.top;
                var bgX = x - zoomCircle.offsetWidth / 2;
                var bgY = y - zoomCircle.offsetHeight / 2;
                zoomCircle.style.left = x - zoomCircle.offsetWidth / 2 + "px";
                zoomCircle.style.top = y - zoomCircle.offsetHeight / 2 + "px";
                zoomCircle.style.display = "block";
                zoomCircle.style.backgroundImage = "url(" + img.src + ")";
                zoomCircle.style.backgroundRepeat = "no-repeat";
                zoomCircle.style.backgroundSize =
                    img.width * 2 + "px " + img.height * 2 + "px";
                zoomCircle.style.backgroundPosition =
                    "-" + bgX * 2 + "px -" + bgY * 2 + "px";
            });

        document
            .getElementById("chapaCompleta")
            .addEventListener("mouseleave", function () {
                document.getElementById("zoomCircle").style.display = "none";
            });
    </script>

    <style>
        .circulo {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid #000;
            margin: 2px;
            display: inline-block;
        }

        .circulo.lleno {
            background-color: gray;
        }

        #zoomCircle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid #000;
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85);
            background-size: 100% 100%;
        }

        @media (max-width: 640px) {
            #zoomCircle {
                display: none;
            }
        }
    </style>
</Layout>
