---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar-relatives.astro";
import Footer from "../../components/Footer.astro";

export function getStaticPaths() {
    return [
        { params: { material: "Et Marquina" } },
        { params: { material: "Arcilla Red" } },
        { params: { material: "Blanco Norte" } },
        { params: { material: "Blanco Stellar" } },
        { params: { material: "Blanco Zeus" } },
        { params: { material: "Bohemian Flame" } },
        { params: { material: "Brass Relish" } },
        { params: { material: "Cala Blue" } },
        { params: { material: "Calacatta Gold" } },
        { params: { material: "Charcoal" } },
        { params: { material: "Concrete Pulse" } },
        { params: { material: "Et Noir" } },
        { params: { material: "Ethereal Dusk" } },
        { params: { material: "Ether Glow" } },
        { params: { material: "Gris Expo" } },
        { params: { material: "Gris Marengo" } },
        { params: { material: "Lime Delight" } },
        { params: { material: "Miami Vena" } },
        { params: { material: "Miami White" } },
        { params: { material: "Negro Stellar" } },
        { params: { material: "Negro Tebas" } },
        { params: { material: "Niebla" } },
        { params: { material: "Noka" } },
        { params: { material: "Parisien Bleu" } },
        { params: { material: "Pearl Jasmine" } },
        { params: { material: "Posidonia Green" } },
        { params: { material: "Romantic Ash" } },
        { params: { material: "Rougui" } },
        { params: { material: "Victorian Silver" } },
    ];
}

const materials = {
    "Et Marquina": {
        slider1: "/assets/silestone/espacios/marquina-m1.jpg",
        slider2: "/assets/silestone/espacios/marquina-m2.jpg",
        slider3: "/assets/silestone/espacios/marquina-m3.jpg",
        description:
            "Evocando al bello mármol español Negro Marquina, esta opción regala una vehemente base de color negro donde surgen contundentes e intensos detalles y veteados blancos.",
        chapa: "/assets/silestone/chapas-completas/silestone-marquina-completo.avif",
    },
    "Arcilla Red": {
        slider1: "/assets/silestone/espacios/arcilla-red-m1.jpg",
        slider2: "/assets/silestone/espacios/arcilla-red-m2.jpg",
        slider3: "/assets/silestone/espacios/arcilla-red-m1.jpg",
        description:
            "Un rojo profundo y terroso que genera espacios acogedores y cálidos.",
        chapa: "/assets/silestone/chapas-completas/arcilla-red-chapa.avif",
    },
    "Blanco Norte": {
        slider1: "/assets/silestone/espacios/blanco-norte-m2.png",
        slider2: "/assets/silestone/Silestone-Blanco-norte.jpg",
        slider3: "/assets/silestone/espacios/blanco-norte-m3.png",
        description:
            "Como ventisca de aire polar, inspirado en el más blanco invierno del Norte, un blanco que recuerda la belleza y el poder de la naturaleza.",
        chapa: "/assets/silestone/chapas-completas/blanco-norte-completa.avif",
    },
    "Blanco Stellar": {
        slider1: "/assets/silestone/espacios/blanco-stellar-m1.jpg",
        slider2: "/assets/silestone/espacios/blanco-stellar-m2.jpg",
        slider3: "/assets/silestone/Silestone-blanco-stellar.jpg",
        description:
            "Un tono frío y limpio con acabado en alto brillo. Este color da a las habitaciones una sensación de luminosidad y espacio",
        chapa: "/assets/silestone/chapas-completas/blanco-stellar-completa.avif",
    },
    "Blanco Zeus": {
        slider1: "/assets/silestone/espacios/blanco-zeus-m1.jpg",
        slider2: "/assets/silestone/espacios/blanco-zeus-m2.jpg",
        slider3: "/assets/silestone/espacios/blanco-zeus-m3.jpg",
        description:
            "Un blanco casi impoluto, energético y atemporal. Una apuesta segura para acertar con la decoración de cualquier espacio.",
        chapa: "/assets/silestone/chapas-completas/blanco-zeus-completa.avif",
    },
    "Bohemian Flame": {
        slider1: "/assets/silestone/espacios/bohemian-flame-m1.jpg",
        slider2: "/assets/silestone/espacios/bohemian-flare-m2.jpg",
        slider3: "/assets/silestone/espacios/bohemian-flame-m3.jpg",
        description:
            "Es un gris oscuro en acabado mate cuya textura recuerda a una mezcla entre cemento y caliza. Tiene vetas sinuosas finas, con incrustaciones metálicas en tonos cobrizos. Inspirada en el movimiento de las coladas de lava más fluidas que generan cicatrices sobre el suelo volcánico.",
        chapa: "/assets/silestone/chapas-completas/bohemian-flame-completa.avif",
    },
    "Brass Relish": {
        slider1: "/assets/silestone/espacios/brass-relish-m1.jpg",
        slider2: "/assets/silestone/espacios/brass-relish-m2.jpg",
        slider3: "/assets/silestone/espacios/brass-relish-m3.jpg",
        description:
            "Un marrón cobrizo de grano único, encarna la arenisca de grano fino. Combina a la perfección con los colores y elementos de diseño del estilo vintage moderno.",
        chapa: "/assets/silestone/chapas-completas/brass-relish-completa.avif",
    },
    "Cala Blue": {
        slider1: "/assets/silestone/espacios/cala-blue-m1.jpg",
        slider2: "/assets/silestone/espacios/cala-blue-m2.jpg",
        slider3: "/assets/silestone/Silestone-calablue.jpg",
        description:
            "Es un azul profundo, moderno y estimulante que en su interacción con la luz se balancea entre la profundidad y la superficie del mar.",
        chapa: "/assets/silestone/chapas-completas/cala-blue-completa.avif",
    },
    "Calacatta Gold": {
        slider1: "/assets/silestone/espacios/calacatta-gold-m1.jpg",
        slider2: "/assets/silestone/espacios/calacatta-gold-m2.jpg",
        slider3: "/assets/silestone/Silestone-Calacatta-gold.jpg",
        description:
            "Color compuesto por un fondo blanco donde elegantes y gruesos veteados grises son interrumpidos por imprevistos detalles dorados. Calacatta Gold rememora a uno de los mármoles más apreciados desde la antigüedad por su apariencia eterna y distinguida.",
        chapa: "/assets/silestone/chapas-completas/calacatta-gold-completa.avif",
    },
    Charcoal: {
        slider1: "/assets/silestone/espacios/charcoal-m1.jpg",
        slider2: "/assets/silestone/espacios/charcoal-m2.jpeg",
        slider3: "/assets/silestone/Silestone-Charcoal.jpg",
        description:
            "Inspirado en la popular “piedra jabón” o soapstone, este color presenta un acabado gris azulado con enérgicas vetas grises. Espectacular opción caracterizada por su rotundidad, profundidad y movimiento.",
        chapa: "/assets/silestone/chapas-completas/charcoal-completa.avif",
    },
    "Concrete Pulse": {
        slider1: "/assets/silestone/espacios/concrete-pulse-m1.jpg",
        slider2: "/assets/silestone/espacios/concrete-pulse-m3.jpg",
        slider3: "/assets/silestone/Silestone-concrete-pulse.jpg",
        description:
            "Inspirado en la popular “piedra jabón” o soapstone, este color presenta un acabado gris azulado con enérgicas vetas grises. Espectacular opción caracterizada por su rotundidad, profundidad y movimiento.",
        chapa: "/assets/silestone/chapas-completas/concrete-pulse-completa.avif",
    },
    "Et Noir": {
        slider1: "/assets/silestone/espacios/et-noir-m1.jpg",
        slider2: "/assets/silestone/espacios/et-noir-m3.jpg",
        slider3: "/assets/silestone/Silestone-et.noir.jpg",
        description:
            "Eternal Noir es el resultado de un delicado y cuidado diseño, inspirado en la estética simétrica y la elegancia de la piedra natural. Sus líneas rectas y diseño sobrio inspira espacios oscuros pero acogedores, elegantes y con luz propia.",
        chapa: "/assets/silestone/chapas-completas/et-noir-completa.avif",
    },
};

const { material } = Astro.params;

const materialData = materials[material];
---

<Layout title={material} description={materialData.description}>
    <main>
        <Navbar />
        <main class="flex flex-wrap justify-between">
            <section class="w-full md:w-1/2 lg:pl-36 lg:pr-36 mb-16">
                <div class="carousel">
                    <div
                        id="default-carousel"
                        class="relative w-full"
                        data-carousel="slide"
                    >
                        <div
                            class="relative h-56 overflow-hidden rounded-lg md:h-96"
                        >
                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider1}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>

                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider2}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>
                            <!-- Item 3 -->
                            <div
                                class="hidden duration-700 ease-in-out"
                                data-carousel-item
                            >
                                <img
                                    src={materialData.slider3}
                                    class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 rounded-lg"
                                    alt="..."
                                />
                            </div>
                        </div>

                        <div
                            class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
                        >
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="true"
                                aria-label="Slide 1"
                                data-carousel-slide-to="0"></button>
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 2"
                                data-carousel-slide-to="1"></button>
                            <button
                                type="button"
                                class="w-3 h-3 rounded-full"
                                aria-current="false"
                                aria-label="Slide 3"
                                data-carousel-slide-to="2"></button>
                        </div>

                        <button
                            type="button"
                            class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-prev
                        >
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                            >
                                <svg
                                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="M5 1 1 5l4 4"></path>
                                </svg>
                                <span class="sr-only">Previous</span>
                            </span>
                        </button>
                        <button
                            type="button"
                            class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                            data-carousel-next
                        >
                            <span
                                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
                            >
                                <svg
                                    class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
                                    aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 6 10"
                                >
                                    <path
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="2"
                                        d="m1 9 4-4-4-4"></path>
                                </svg>
                                <span class="sr-only">Next</span>
                            </span>
                        </button>
                    </div>
                </div>
            </section>
            <section class="w-full md:w-1/2 p-4">
                <div>
                    <h1 class="text-3xl font-bold mb-4">{material}</h1>
                    <p>{materialData.description}</p>
                    <section class="w-full pt-4">
                        <h2 class="text-xl font-semibold mb-4 text-left">
                            Detalles Adicionales
                        </h2>
                        <p>{materialData.additionalDetails}</p>
                    </section>
                </div>
            </section>
            <div class="chapaC w-full p-4 mb-8 lg:pl-32 lg:pr-32">
                <h2
                    class="text-2xl text-left"
                    style="font-family:San
                    Francisco
                    Display
                    Ultralight"
                    ;
                >
                    Detalles de la tabla completa {material}
                </h2>

                <div id="chapaContainer" class="relative w-full">
                    <img
                        id="chapaCompleta"
                        src={materialData.chapa}
                        class="w-full"
                        alt={material}
                    />
                    <div
                        id="zoomCircle"
                        class="absolute border border-gray-500 rounded-full pointer-events-none"
                    >
                    </div>
                </div>
                <a href="/silestone">
                    <p
                        class="text-center text-xl hover:underline pt-8 hover:text-yellow-500"
                    >
                        <i class="fa-solid fa-reply"></i> Volver al catalogo de Silestone
                    </p>
                </a>
            </div>
            <Footer />
        </main>
    </main>

    <script>
        document
            .getElementById("chapaCompleta")
            .addEventListener("mousemove", function (e) {
                var img = e.target as HTMLImageElement;
                var zoomCircle = document.getElementById("zoomCircle");
                var rect = img.getBoundingClientRect();
                var x = e.clientX - rect.left;
                var y = e.clientY - rect.top;
                var bgX = x - zoomCircle.offsetWidth / 2;
                var bgY = y - zoomCircle.offsetHeight / 2;
                zoomCircle.style.left = x - zoomCircle.offsetWidth / 2 + "px";
                zoomCircle.style.top = y - zoomCircle.offsetHeight / 2 + "px";
                zoomCircle.style.display = "block";
                zoomCircle.style.backgroundImage = "url(" + img.src + ")";
                zoomCircle.style.backgroundRepeat = "no-repeat";
                zoomCircle.style.backgroundSize =
                    img.width * 2 + "px " + img.height * 2 + "px";
                zoomCircle.style.backgroundPosition =
                    "-" + bgX * 2 + "px -" + bgY * 2 + "px";
            });

        document
            .getElementById("chapaCompleta")
            .addEventListener("mouseleave", function () {
                document.getElementById("zoomCircle").style.display = "none";
            });
    </script>

    <style>
        #zoomCircle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 1px solid #000;
            box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85);
            background-size: 100% 100%;
        }
    </style>
</Layout>
